@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background: #050505;
  color: white;
}


body {
  margin: 0;
  background:
    radial-gradient(
      circle at top,
      rgba(212,175,55,0.15),
      transparent 40%
    ),
    #050505;

  font-family: Inter, sans-serif;
}


* {
  box-sizing: border-box;
}